<%= render 'search' %>
<div class="customer">
  <%= form_for @customer, url: checkout_path do |c| %>

    <h2>Enter Customer Information</h2>

    <div class="first">
      <p>
        <%= c.label :first_name %><br />
        <%= c.text_field :first_name %>
      </p>
      <p>
        <%= c.label :last_name %><br />
        <%= c.text_field :last_name %>
      </p>
      <p>
        <%= c.label :address %><br />
        <%= c.text_field :address %>
      </p>
      <p>
        <%= c.label :city %><br />
        <%= c.text_field :city %>
      </p>
      <p>
        <%= c.label :province_id %><br />
        <%= c.collection_select :province_id, @provinces, :id, :name %>
      </p>
    </div>
    <div class="second">
      <p>
        <%= c.label :country %><br />
        <%= c.text_field :country %>
      </p>
      <p>
        <%= c.label :postal_code %><br />
        <%= c.text_field :postal_code %>
      </p>
      <p>
        <%= c.label :email %><br />
        <%= c.text_field :email %>
      </p>
      <p>
        <%= c.submit 'Submit' %>
      </p>
    </div>
    <div class="third">
      <% if @customer.errors.any? %>
        <ul>
          <% @customer.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  <% end %>
</div>